@font-face {
  font-family: Inter;
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
